@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap");
html {
  font-size: 62.5%;
}

body {
  background-color: rgba(255, 255, 255, 0.932) !important;
}

p {
  font-family: "Dosis", sans-serif;
  font-weight: 500px;
  font-size: 3rem;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(5, 5, 5);
  text-align: center;
}

h1, h2 {
  font-family: "nunito", sans-serif;
  font-weight: 700 !important;
  font-size: 4.5rem;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 36px;
  margin-bottom: 29px;
  margin: auto;
  background-color: #6a00f7;
  font-size: 2.4rem;
  width: 491px;
  border-radius: 5px;
}

h3 {
  font-family: "nunito", sans-serif;
  font-size: 4rem !important;
  text-align: center;
  line-height: 4rem;
  background-color: #6635dc;
  font-size: 2.5rem;
  width: 495px;
  border-radius: 5px;
  margin: auto !important;
}

header {
  display: inline-block;
  background-color: #6635dc;
  position: relative;
  width: 239px;
  font-size: 4rem;
  text-align: center;
  margin: 50px;
}

* {
  box-sizing: border-box;
}

main form {
  margin-top: 100px;
}

main iframe {
  margin-top: 100px;
}

main img {
  width: 100%;
  height: 100%;
  padding: 20px;
  object-fit: cover;
}

main img:hover {
  filter: none;
}

table {
  width: 80%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  color: rgb(8, 8, 8);
  font-family: "nunito";
  font-size: 3rem;
  margin: 7% 10%;
  margin-bottom: 70px;
}

label {
  color: rgb(17, 31, 226);
  font-size: 2rem;
}

.productosfyq {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-right: 1px;
}
.productosfyq figure {
  width: 28%;
  margin: 10px 20px 10px 20px;
}
.productosfyq figure p {
  font-size: 2rem;
  font-family: "nunito";
  margin-top: 20px;
  margin-right: 10px;
}
.productosfyq figure figcaption {
  color: rgb(78, 25, 92);
  font-size: 1.5rem;
}
.productosfyq figure button {
  border-radius: 5px;
  color: rgb(78, 25, 92);
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 5px;
  text-decoration: underline;
  font-family: "nunito";
}

.img404 {
  width: 80%;
  display: block;
  align-items: center;
  height: 400px;
  margin: 80px 80px;
}

div.text_center {
  font-size: 3rem;
  margin-top: 40px;
}

.conteiner_8 {
  display: flex;
}
.conteiner_8 img {
  width: 50%;
}

.textotach {
  text-decoration: line-through;
}

.margin-nav, .contenedor5 {
  margin-bottom: 90px;
  margin-top: 100px;
}

.contenedor12 {
  width: 200px;
}

.contenedor4 {
  display: flex;
  flex-wrap: row;
  justify-content: space-evenly;
  align-items: center;
}
.contenedor4 figcaption {
  font-size: 3rem;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: overline;
}

.contenedor5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-light.navbar-toggler {
  color: rgba(247, 1, 1, 0.55);
  border-color: #6635dc;
  background-color: rgb(224, 11, 11);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: black !important;
  position: absolute;
}

.contenedor4 {
  margin-top: 50px;
}

.contenedor7 {
  width: 95%;
  height: 1000px;
  margin-left: 40px;
  margin-top: 2%;
  margin-bottom: 3%;
}

.contenedor_1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-evenly;
}

.texto_decorado {
  text-decoration-line: underline;
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.tex_righ {
  text-align: right;
}

.contenedor_2 {
  margin-top: 90px;
}

.contenedor_3 {
  margin: 5% 26%;
  width: 50%;
}

.productosfyq figure figcaption {
  background-color: orangered;
  width: 150px;
  color: #000000;
  text-align: center;
  margin: auto;
  border-radius: 10px;
}

div.contenedor_2 {
  margin-top: 100px;
  font-family: "Dosis", sans-serif;
  font-size: 2rem;
}

img.foto_product {
  margin-left: 100px;
  height: 250px;
  width: 250px;
}

.imgfyq {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tienda {
  margin: 10% 15%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20% 20% 20%;
  grid-template-areas: "img img" "img2 img3" "img4 img5" "img6 img6";
}

.w-100 {
  width: 80%;
  padding-right: 20%;
  padding-left: 20%;
}

.img {
  grid-area: img;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.img5 {
  grid-area: img5;
}

.img6 {
  grid-area: img6;
}

nav {
  font-size: 3rem;
  justify-content: space-around;
}
nav div {
  background-color: rgb(0, 0, 0);
  height: 150px !important;
}
nav div ul li a {
  color: rgba(255, 255, 255, 0.932) !important;
  padding-left: 3rem !important;
}
nav div img {
  height: 98px;
  width: 169px;
  margin-left: 10px;
  border-radius: 8px;
  margin: 24px;
}

.btn-outline-success {
  display: none;
}

.me-2 {
  margin: 1px 0px;
}

.bgcolornav {
  margin-top: 50px;
  height: 45px;
  background-color: #6635dc;
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  line-height: 38px;
}

.nav-link {
  margin-left: 80px;
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.932) !important;
}

.navbar {
  padding: 0 !important;
}

.navbar > .container {
  height: 500px;
}

footer {
  background-color: black;
  color: aliceblue;
  font-size: 2rem;
  margin-top: 20%;
}
footer div {
  display: flex;
  justify-content: space-evenly;
}
footer div svg {
  color: rgba(255, 255, 255, 0.932);
  height: 80px;
  width: 80px;
}

@media (max-width: 1000px) {
  * {
    box-sizing: border-box;
  }
  footer {
    width: 100%;
  }
  footer div {
    font-size: 10px;
  }
  footer div svg {
    height: 20px;
    width: 20px;
  }
  nav div {
    font-size: 10px;
    height: auto;
  }
  nav div img {
    display: none;
  }
  nav ul li a {
    padding: auto;
  }
  .bgcolornav {
    font-size: 1.2rem;
  }
  .nav-link {
    padding: auto;
  }
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 15px;
  }
  div.bgcolornav {
    width: 500px;
  }
  .productosfyq {
    width: 50%;
  }
  main section figure {
    width: 50%;
  }
  .contenedor_1 {
    text-align: center;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
  }
  .bgcolornav {
    max-width: 866px;
  }
}
@media (max-width: 372px) {
  div.bgcolornav {
    width: auto;
    height: auto;
  }
  h1 {
    width: 50%;
  }
  h2 {
    width: auto;
  }
  footer div {
    margin: 4px;
    font-size: 1rem;
  }
  footer div svg {
    width: auto;
    height: auto;
  }
  img {
    width: 100%;
  }
  header {
    font-size: 14px;
  }
  img.foto_product {
    width: 100%;
  }
  .productosfyq {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .productosfyq figure {
    width: 100%;
    width: auto;
    font-size: 1.2rem;
  }
  .productosfyq figure figcaption {
    margin-left: 188px;
  }
  .productosfyq figure button {
    margin-left: 188px;
  }
  .productosfyq figure p {
    width: 100%;
  }
  .productosfyq figure p {
    font-size: 1.2rem;
    margin-left: 90px;
  }
  table, textarea {
    width: 90%;
  }
  h3 {
    font-size: 1rem;
    width: 100%;
  }
  th, td {
    font-size: 16px;
  }
  iframe {
    width: 100%;
    height: auto;
  }
  .bgcolornav {
    width: auto;
    height: auto;
  }
  div.contenedor_2 {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=main.css.map */
