


html{
    font-size: 62.5%;
}

body{ background-color:$segundoColor !important} 


p{font-family: $font2;
    font-weight: 500px;
    font-size: $fontSizenav;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(5, 5, 5);
    text-align: center;}


h1,h2{font-family: $font;
    font-weight: 800 !important;
    font-size:$fontSizeh;
    color:$mainColor;
    text-align: center;
    margin-top: 37px;
    margin-bottom: 25px;
    margin: auto;
    background-color: #6a00f7;
    font-size: 2.4rem;
    width: 491px;
    border-radius: 5px;
}


h3 {font-family: $font;
    font-size:4rem !important ;
    text-align: center;
    line-height: 4rem ;
    background-color: $bgcolor2 ;
    font-size: 2.5rem;
    width: 495px;
    border-radius: 5px;
    margin: auto !important;
}
        
header{display: inline-block;
      background-color:$bgcolor2 ;
      position: relative;
      width: 100%;
      font-size: 4rem;
      text-align: center;
      margin: 50px;}









