

footer {
    background-color:black;
    color: aliceblue;
    font-size: 2rem;
    margin-top: 20%;
    div{display: flex;
        justify-content:space-evenly;
        svg{color: $segundoColor;
            height: 80px;
            width: 80px ;}
        }
    }
   
   
   

   