@media only screen and (max-width: 380px){
    .grid{display: block;}
    .grid_filas_columnas{    
      grid-template-columns: 50px;
      grid-template-rows: 550px 550px 550px 550px 550px 550px ;
      grid-template-areas:
        "dibumartinez"
        "nicootamendi"
        "cutiromero"
        "rodridepaul" 
        "julianalvarez"
        "leomessi";}
         .bgimg{font-size: 1rem}
         .bgimg2{font-size: 1rem}
         .bgimg3{font-size: 1rem}
         .bgimg4{font-size: 1rem}
         .bgimg5{font-size: 1rem}
         .bgimg6{font-size: 1rem}
    
main{overflow-x: hidden}
p{text-align: center;
  margin-left: 500px;
  margin-right: 500px;
  margin-left: 26px;
  text-align: center;
  width: 300px !important;
  font-size: 2rem;}

h1 , h2{margin-top: 44px;
width: 100%;}
h3{width: 300px;}

 nav{

    div{height: 350px !important;
        position: relative;
         a{
            
           img{height: 300px;
            width: 400px;
            margin-left: 0px;
            height: 68%;
            width: 100%;
            max-width: 100%;
            max-height: 100%;}
          }
        }
    }
    
table{display: block;
    margin: 10px 40px;
    width: 80% !important;
    height: 199px;
    font-size: 1rem;}
    

                
footer div{flex-direction: column;
                align-items: center;}

            

                
.Dibumartinez{grid-area: dibumartinez;
             width: 300px;
            height: 300px;
                }

.nicootamendi{
            grid-area: nicootamendi;
            width: 300px;
            height: 300px;
                }
                
.cutiromero{
            grid-area: cutiromero;
            width: 300px;
            height: 300px;
                }
 .rodridepaul{
            grid-area: rodridepaul;
            width: 300px;
            height: 300px;
                }

.julianalvarez{
            grid-area: julianalvarez;
            width: 300px;
            height: 300px;}
                
.leomessi{
            grid-area: leomessi;
            width: 300px;
            height: 300px;
                }

.container-fluid,{height: 50px;}                

.bgcolornav{font-size: 1.2rem;
height: 40px;
line-height: 10px}


img.foto_product {margin: 20px 80px;
    height: 200px;
    width: 200px;}

.productosfyq figure { width: 38%;
                        margin-top: 100px;
                    margin-bottom: 150px;
                button{margin:10px 100px

                }
            }
                


.contenedor{height: 800%;
                        width: 80%;}
                
.grid{ display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       width: 100%;
       }





img{margin-top: 200px;
margin-bottom: 150px;}

.margin-nav{height:50px;
     padding-bottom: 10px;}



main section figure p {margin-left: 0px;}

footer{
    div{
        flex-direction: row; 
        align-items: center;
        font-size: 0.7rem;
        svg
         {height: 5px;
         width: 12px;}
    }
}


.contenedor7{width: 100%;
    height: 200px;
    object-fit: cover;
margin: 0px;}

.conteiner8 img {width: 100%;}

.productosfyq figure{width: 100%;}






                        
table{width: 100%;
     height: 137px;;
          margin-top: 20px;
          font-size: 1rem;}



.contenedor4{display: block;
              width: 100%;}

.btn-outline-success{display: none !important;}
                           
.contenedor_1 {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row-reverse;
                width: 100%;
                justify-content: center;}

form.contenedor_1{width: 10px;
height: 10px;}

.img404{width: 100%;
    align-items: center;
    height: 400px;
    margin: 57px 0px;
    padding: 20px;}                   
}                    



// responsive para tabletas





@media only screen and (max-width: 768px){
    .grid{display: flex;
        flex-wrap: wrap;
        flex-direction: column;}


    




footer{font-size: 1.2rem;
    div {
        svg{
        color: rgb(255, 255, 255);
        height: 40px;
        width: 20px;}
        }
        }
img{width: 100%;}


img.foto_product {margin: 2px;
    margin-left: 0;
    height: 235px;
    width: 100%}

.conteiner_8 {
    display: flex;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    }

p{ margin:10px 30px;
width: 100%;}   
.contenedor_1 {
    display: block;}
textarea{width: 300px;
margin-left: 40px !important;
height: 120px;}

div iframe  {margin-left: 30px;
    width: 340px;
height: 340px;}







}                    