*{box-sizing: border-box;}

main form{margin-top: 100px;}
main iframe{margin-top: 100px;}
main img {width: 100%;
    height: 100%;
    padding: 20px;
    object-fit: cover;
    //filter: grayscale(1);
   }
main img:hover{filter: none;}    




table{width: 80%;
     height: 300px;
    background-color: rgb(255, 255, 255);
    color: rgb(8, 8, 8);
    font-family: "nunito";
    font-size: 3rem;
    margin: 7% 10%;
    margin-bottom: 70px;
}    


label {color: rgb(17, 31, 226);
    font-size: 2rem;}


//clases y selectores!

.productosfyq{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        margin-right: 1px;
        figure { width: 28%;
            margin: 10px 20px 10px 20px;
            p{font-size: 2rem;
                font-family: "nunito"; margin-top: 20px;
               margin-right: 10px;}
            figcaption {color: rgb(78, 25, 92);
                font-size: 1.5rem;}
            button{border-radius: 5px ; color:rgb(78, 25, 92);
                    background-color: rgb(0, 0, 0); color: white; padding: 5px;text-decoration:underline;
                font-family: "nunito";}        
            }
    }


.img404{width: 80%;
    display: block;
    align-items: center;
    height: 400px;
    margin: 80px 80px;}

div.text_center{font-size: $fontSizenav;
margin-top: 40px;}


  





            

.conteiner_8{display: flex;
    img{width: 50%;}
}


    
.textotach{text-decoration: line-through;}



    
    
.margin-nav{margin-bottom: 90px;
        margin-top: 100px;}
    
.contenedor12{width: 200px;}


.contenedor4{@include flex(row,space-evenly,center);
    figcaption {font-size: 3rem;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: overline;}
}

    
.contenedor5{
    @extend .margin-nav;
    display: flex;
    justify-content: center;
    align-items: center;
   }


//tutores estos dos propiedades se compilan pero no se ejecutan 
.navbar-light.navbar-toggler {
    color: rgba(247, 1, 1, 0.55);
    border-color: $bgcolor2;
    background-color: rgb(224, 11, 11);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: black !important;
    position: absolute;}

    //
.contenedor4 {margin-top: 50px};

.contenedor7{
    width: 95%;
    height: 1000px;
    margin-left: 40px;
    margin-top: 2%;
    margin-bottom: 3%;}

.contenedor_1{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-evenly;}

.texto_decorado{text-decoration-line: underline;}

.text_left{text-align: left ;}

.text_center{text-align: center;}

.tex_righ{text-align: right;}    

.contenedor_2{margin-top: 90px;}

.contenedor_3{margin: 5% 26%;
width: 50%;}

.productosfyq figure figcaption {background-color: orangered;
    width: 150px;
    color: #000000;
    text-align: center;
    margin: auto;
    border-radius: 10px;}

div.contenedor_2{margin-top: 100px;
    font-family:'Dosis', sans-serif;
    font-size: 2rem;}
    
    
    
    
img.foto_product{margin-left: 100px;
        
        height: 250px;
        width: 250px;
    }
    
.imgfyq{height: 100px;
        width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}
    

// grid de picadas // 

#tienda{margin: 10% 15%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-areas:
    "img img"
    "img2 img3"
    "img4 img5"
    "img6 img6";
    }




.w-100{width: 80%;
padding-right: 20%;
padding-left: 20%;}

.img{grid-area: img;}

.img2{grid-area: img2;}

.img3{grid-area: img3;}

.img4{grid-area: img4;}

.img5{grid-area: img5;}

.img6{grid-area: img6;} 









 
    
    
   
          
    
         