nav {
    font-size: $fontSizenav;
    justify-content: space-around;
    div {background-color: $mainColor;
         height: 150px !important;  
        ul
         {li
            {a
              {color: $segundoColor !important;
              padding-left: 3rem!important;}
        }
       
    }
    img{height: 98px;
      width: 169px;
      margin-left: 10px;
      border-radius: 8px;
      margin: 24px;
       }
  }
}
  
.btn-outline-success{
  display: none;}
.me-2 {  margin: 1px 0px }



.bgcolornav {margin-top: 50px;
    height: 45px;
    background-color: $bgcolor2;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    line-height: 38px;
}

.nav-link{margin-left: 80px;}

.navbar-toggler{background-color: $segundoColor !important;}

.navbar{padding: 0 !important;}
.navbar>.container{height: 500px;}


