//variables globales 
$mainColor:rgb(0, 0, 0);
$segundoColor:rgb(255, 255, 255);
$bgcolor:rgb(163, 167, 134);
$font: "nunito", sans-serif;
$font2:'Dosis', sans-serif;
$fontSizeh:4.5rem;
$fontSizenav:3rem;
$fontSizeh3:5rem;
$fontSizesmall:2rem;


